#navbar-fixed-top{
	z-index:1000;
}

.modal{
	color:black;
}
#logo{
	text-align: center;
}

.alert{
	display:none;
}

.white{
	color:white !important;
}
.red{
	color:red !important;
}

.footer{
	margin-top: 15px;
	background-color: rgba(0,0,0,0.55);
	text-align: center;
	border:1px solid rgba(150,150,35,0.55);
	border-radius: 5px;
	color:#B0B0B0 ;
}

.footer address{
	margin-bottom: 0px;
}

#body{
	background-color: rgba(0,0,0,0.7);
	border:1px solid rgba(150,150,35,0.55);
	border-radius: 5px;
	color:#B0B0B0 ;
	padding:7px;
}

iframe{
	margin-left: 1.5%;
}

abbr{
	text-decoration: none;
	border-bottom:2px solid white;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(150,150,150,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.credential-form{
	padding:4px;
	text-align:center;
	color:white;
}

.pointer{
	cursor:pointer;
}

.well-dark{
	background-color: #483C32;
	background-color: rgba(72,60,50,0.6);
	margin-bottom:10px;
	border:1px solid #B0B0B0;
	color:rgb(200,200,200);
}

.well-header{
	border-bottom: 1px solid #eeeeee;
	font-size: 130%;
	margin-bottom: 10px;
}

.well-header a{
	color:inherit;
}

.well-footer{
	border-top: 1px dashed #eeeeee;
	margin-bottom: 5px;
	padding-top: 5px;
}

#newsContainer time, #eventsContainer time{
	display:block;
	text-align: center;
}

.inline_center{
	text-align:center;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	color: black;
}

footer.center{
	text-align:center;
}

.form-commentaire{
	width:400px;
	margin:auto;
	border:1px dashed #eeeeee;
	padding:5px;
	margin-bottom:7px;
	border-radius:5px;
	text-align: center;
}

.serveur_conteneur
{
	margin:auto;
	text-align: center;
}