<section class="row-fluid">
	<header class="page-header">
		<h2>Aide sur les bb-codes</h2>
	</header>
	<article>
		<ul>
			<li>[b]texte en gras[/b]</li>
			<li>[code]text mono espac&eacute;[/code]</li>
			<li>[color=red]texte rouge[/color]<br>
				[color=#ff0000]texte rouge[/color]</li>
			<li>[i]texte en italique[/i]</li>
			<li>[list][*]1[*]2[/list]</li>
			<li>[img]lien vers l'image[/img]</li>
			<li>[noparse][b]affiche tel quel[/b][/noparse]</li>
			<li>[quote]texte en citation[/quote]</li>
			<li>[s]texte barr&eacute;[/s]</li>
			<li>[size=30]texte de taille diff&eacute;rente[/size]</li>
			<li>[table][tr][td]cellule[/td][/tr][/table]</li>
			<li>[u]texte soulign&eacute;[/u]</li>
			<li>[url]http://example.com/[/url]<br>
				[url=http://example.com/]text[/url]</li>
			<li>[video="http://www.youtube.com/embed/1_s-merhOkw?mode=opacity width height][/video]</li>
		</ul>
	</article>
</section>