<section>
	<h1 class="page-header">R&egrave;glements Minecraft</h1>
	
		<p>Ces r&egrave;glements sont applicables en tout temps et servent de base pour le jugement des administrateurs en cas de littige.</p>
		<div class="well well-dark">
			<h2>Pr&eacute;avis </h2>
				<p>En rejoignant le serveur, vous certifier sur l'honneur avoir pris connaissance de ce r&egrave;glement.</p>
		</div>
		<div class="well well-dark">
			<h2>G&eacute;n&eacute;ral</h2>
				<p>Voici les r&egrave;glements g&eacute;n&eacute;raux du serveurs. Certains sont red&eacute;finis avec plus de pr&eacute;cision plus loin:</p>
				<ul>
					<li>Poss&eacute;der la version authentique de Minecraft;</li>
					<li>Utiliser votre bon sens;</li>
					<li>Ne pas faire de publicit&eacute;s d'aucunes sortes;</li>
					<li>Ne pas &eacute;crire de spam sur le forum du serveur;</li>
					<li>Ne pas essayez de se faire passer pour un membre du staff;</li>
					<li>Aucunes discriminations ou propos d&eacute;gradants (sexisme, racisme, etc);</li>
					<li>Si vous n'&ecirc;tes pas pr&eacute;sents au moins une fois par semaine (sans avoir prevenu), vous re-deviendrez visiteur et vous devrez payer tous vos grades &agrave; nouveaux.</li>
				</ul>
		</div>
		<div class="well well-dark">
			<h2>Jeux</h2>
				<p>Cette section regrouppe les r&egrave;glements concernant le jeu sur SpectralWave dans son ensemble.</p>
				<h3>Principes</h3>
					<p>Principes de base du serveur:</p>
					<ul>
						<li>Pas d'insultes;</li>
						<li>Pas de pyromanie;</li>
						<li>Pas de pi&egrave;ges &agrave; TNT ou autres;</li>
						<li>Pas de destructions de structures, monuments ou autres;</li>
						<li>Pas d'abus de bugs;</li>
						<li>Pas de cheats, hacks ou autres &eacute;l&eacute;ments permettants de contourner les r&egrave;gles;</li>
						<li>Pas de PVP dans les villes;</li>
						<li>Pas de PVP abusif;</li>
						<li>Interdit de pvp un empereur ou conseiller (admin/modo);</li>
						<li>On ach&egrave;te ce que vendent les magasins au lieu de le r&eacute;colter personnellement.</li>
					</ul>

				<h3>Paysage</h3>
					<p>Principes de base du serveur quant &agrave; la modification du paysage:</p>
					<ul>
						<li>Les arbres doivent &ecirc;tre re-plant&eacute;s apr&egrave;s avoir &eacute;t&eacute; coup&eacute;s;</li>
						<li>Les arbres doivent &ecirc;tre coup&eacute;s compl&ecirc;tement, du trons jusqu'aux feuilles;</li>
						<li>Ne pas d&eacute;truire radicalement le paysage;</li>
						<li>Si vous trouver un trou dangereux (gouffre, pi&egrave;ge ou autre) rebouchez ou contactez un admin/modo;</li>
						<li>Si vous avez caus&eacute; un trou avec un creeper qui vous a explos&eacute; dessus, merci de le reboucher;</li>
						<li>Merci de ne pas cr&eacute;er de r&eacute;serves de lave en surface;</li>
						<li>Pas de construction sortant du r&eacute;alisme ou d&eacute;fiant les lois de la physique;</li>
						<li>Pas d'objets qui flottent dans les airs.</li>
					</ul>
		</div>
		<div class="well well-dark">
		<h2>Spam - Mumble</h2> 
			<p>Si un membre de l'&eacute;quipe surprend un joueur en train de spammer les canaux de discutions g&eacute;n&eacute;raux, celui-ci pourra &ecirc;tre mut&eacute;, voir m&ecirc;me banni. Donc merci d'utiliser le syst&egrave;me de communication en respectant les autres joueurs.</p>
		</div>
		<div class="well well-dark">
		<h2>Compte</h2> 
			<p>Votre compte SpectralWave est sous votre enti&egrave;re responsabilit&eacute;. Nous fermons les yeux sur le partage de compte. Cependant, gardez &agrave; l'esprit que nous ne pourrons &ecirc;tre tenus responsables d'aucunes pertes.</p>
			<p>Votre personnage pourra &agrave; tout moment &ecirc;tre suspendu ou supprim&eacute; sans aucuns pr&eacute;avis si vous enfreignez les r&egrave;gles du jeu. Ceci s'applique &eacute;galement pour les propos d&eacute;gradants (racistes, obsc&egrave;nes, sexuels, etc...).</p> 
		</div>
		<div class="well well-dark">
		<h2>Arnaques</h2> 
			<p>Les membres de l'&eacute;quipe SpectralWave ne pourrons &ecirc;tres tenus pour responsable de toute perte d'objets ou d’argent dû &agrave; des arnaques. Il est de votre responsabilit&eacute; en tant qu'acheteur / vendeur, de v&eacute;rifier toutes vos transactions avant de les valider.</p>
		</div>
		<div class="well well-dark">
		<h2>Harc&egrave;lements</h2>
			<p>En cas de harc&egrave;lement par un joueur ou un membre de l'&eacute;quipe, merci de prendre une capture d'&eacute;cran &agrave; l'aide de la touche "F2" et de reporter cette action sur le <a href="http://www.rolecraft.fr/Forum/viewforum.php?f=25">forum</a>.Tous les cas de harc&egrave;lement seront jug&eacute; selon leur gravit&eacute; et pourrons r&eacute;sulter d'une suspension d&eacute;finitive du joueur sur l'ensemble des services du serveur.</p>
		</div>
		<div class="well well-dark">
		<h2>Usurpation d'identit&eacute; et personnalisation d'un membre de l'&eacute;quipe</h2>
			<p>Se faire passer, ou affirmer connaitre, un membre de l'&eacute;quipe du jeu et utiliser ceci afin d'influencer un autre joueur sera sanctionn&eacute; par une suspension d&eacute;finitive de votre compte. Les administrateurs ne suspendent pas les joueurs sans bonnes raisons et ne prennent pas parti dans les querelles entre joueurs. Ceci inclus &eacute;galement les messages priv&eacute;s et les courriers dans le jeu. Merci de prendre une capture d'&eacute;cran &agrave; l'aide de la touche "F2" et de reporter ces messages sur le <a href="http://www.rolecraft.fr/Forum/viewforum.php?f=25">forum</a>.</p>
		</div>
		<div class="well well-dark">
		<h2>Respect envers le Staff</h2>
			<p>Merci de garder &agrave; l'esprit que tous les membres de l'&eacute;quipe donnent de leurs temps libre volontairement afin de fournir une meilleur exp&eacute;rience de jeu &agrave; toute la communaut&eacute;e. Les propos irrespectueux envers les membres de l'&eacute;quipe seront sanctionn&eacute;s par une d&eacute;connexion forc&eacute;e, par un mute, ou par une suspension de votre compte en fonction de la gravit&eacute; de vos propos. Merci de respecter leur autorit&eacute; et de faire ce qu'ils vous demandent. Si vous rencontrez un soucis avec un membre de l'&eacute;quipe, ne lui manquez pas de respect.</p>
		</div>
		<div class="well well-dark">
		<h2>Utilisation des hack/failles </h2>
			<p>L'utilisation de tout programe tierce parti permettant de modifier ou d'affecter le fonctionnement normal du client SpectralWave r&eacute;sultera d'une suspension permanente de tous vos comptes de jeu. Outrepasser les s&eacute;curit&eacute;es introduites par l'&eacute;quipe SpectralWave afin de pouvoir lancer les tierces programmes &eacute;voqu&eacute;s ci-dessus en m&ecirc;me temps que notre client r&eacute;sultera d'une suspension permanente de tous vos comptes de jeu. Les Hacker veront leurs IPs ainsi que leurs comptes du jeu et du forum &ecirc;tre suspendus d&eacute;finitivement. Utiliser une faille du jeu afin d'obtenir un b&eacute;n&eacute;fice ou un avantage sur le game play normal r&eacute;sultera d'un avertissement ou d'une suspension du compte, d&eacute;pendant de la gravit&eacute;e de la faille utilis&eacute;e.</p>
		</div>
		<div class="well well-dark">
		<h2>Restitutions d'objets</h2>
			<p>Les seuls objets pouvant &ecirc;tre restitu&eacute; &agrave; la suite d'un rollback seront les Role Points ainsi que les objets achet&eacute;s avec les points et n'ayant pas chang&eacute; de propri&eacute;taire.</p>
		</div>
		<div class="well well-dark">
		<h2>Fin </h2>
			<p>Ce R&egrave;glement s'applique aussi bien sur le forum que sur le jeu en lui-m&ecirc;me. Si celui-ci n'est pas respect&eacute;, le Staff jugera de votre infraction et vous sanctionnera. Si vous souhaitez obtenir plus d'informations, veuillez contacter un admin/modo. Veuillez consulter r&eacute;gulierement les r&egrave;gles car elles peuvent changer sans pr&eacute;avis.</p>
		</div>	
</section>