<section>
	<article class="serveur_conteneur">
		<figure class="inline_block"><img src="img/Minecraft.png" alt="Minecraft" /></figure>
		<p class="inline_block">
			<strong>Serveur SpectralWave:</strong> OUVERT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
			<strong>Adresse IP:</strong> 77.111.203.227
		</p>
		<figure class="inline_block"><img src="img/Minecraftd.png" alt="Minecraft" /></figure>
	</article>
	
	<hr />
	
	<article class="serveur_conteneur">
		<figure class="inline_block"><img src="img/Mumble.png" alt="Mumble" /></figure>
		<p class="inline_block">
			<strong>Serveur mumble:</strong> OUVERT <br />
			<strong>Adresse IP:</strong>srv05.mumblegratuit.com <br />
			<strong>Port:</strong> 13958<br />
			<strong>Mot de passe:</strong> Rct
		</p>
		<figure class="inline_block"><img src="img/Mumbled.png" alt="Mumble" /></figure>
	</article>
</section>