<section>
	<h1>T&eacute;l&eacute;chargements</h1>
	
	<p>Cette page se divise en deux sections. L'une regroupant l'ensemble des t&eacute;l&eacute;chargements requis pour jouer &agrave; SpectralWave et l'autre regroupant les t&eacute;l&eacute;chargements du mat&eacute;riel suppl&eacute;mentaire comme les videos des times lapse ou encore les fond d'&eacute;cran.</p>
		
	<h2>Indispensables</h2>
		<p class="inline_center well well-dark">
			<a href="http://javadl.sun.com/webapps/download/AutoDL?BundleId=52265">Java</a>
			<em>(indispensable pour Minecraft & SpectralWave)</em><br />
			<a href="http://javadl.sun.com/webapps/download/AutoDL?BundleId=52265" style="text-decoration:none;">
				<img src= "img/Javadl.png" border="0px" /></a>
		</p>
			
		<p class="inline_center well well-dark">
			<a href="https://s3.amazonaws.com/MinecraftDownload/launcher/Minecraft.exe" target="_blank">Minecraft</a> 
			<em>(Jeu de base de la team)<br />
			<a href="https://s3.amazonaws.com/MinecraftDownload/launcher/Minecraft.exe" target="_blank" style="text-decoration:none;">
				<img src= "img/Minecraft.png" border="0px" /></a>
		</p>

		<p class="inline_center well well-dark">
			<a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.3a/mumble-1.2.3a.msi/download" target="_blank" >Mumble 1.23a</a> 
			<em>(Communications vocales)</em><br />
			<a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.3a/mumble-1.2.3a.msi/download" target="_blank" style="text-decoration:none;">
				<img src= "img/mumbledl.png" border="0px" /></a>
		</p>
			
		<!-- <p class="inline_center well well-dark">
			<a href="autre/SpectraleWavePack.zip">SpectralWave texture pack pour minecraft</a> 
			<em>(placer dans %appdata% - .minecraft\texturepacks)</em><br />
			<a href="autre/SpectraleWavePack.zip" style="text-decoration:none;">
				<img src= "img/faithful.png" border="0px" /></a>
		</p> -->
    
	<!-- <h2>Fond d'&eacute;cran</h2>
	
		<article class="article_photo">
			<figure class="inline_block"><img src="images/SpectralWavePapers/apercus/SpectralWavePaper01.png" alt="Fond 1"></figure>
			<p class="inline_block">
				<a href="images/SpectralWavePapers/800x600/SpectralWavePaper01.png">800x600</a><br />
				<a href="images/SpectralWavePapers/1024x768/SpectralWavePaper01.png">1024x768</a><br />
				<a href="images/SpectralWavePapers/1280x720/SpectralWavePaper01.png">1280x720</a>	<br />
				<a href="images/SpectralWavePapers/1280x960/SpectralWavePaper01.png">1280x960</a><br />
				<a href="images/SpectralWavePapers/1280x1024/SpectralWavePaper01.png">1280x1024</a><br />
				<a href="images/SpectralWavePapers/1600x1200/SpectralWavePaper01.png">1600x1200</a><br />
				<a href="images/SpectralWavePapers/1680x1050/SpectralWavePaper01.png">1680x1050</a><br />
				<a href="images/SpectralWavePapers/1920x1080/SpectralWavePaper01.png">1920x1080</a><br />
				<a href="images/SpectralWavePapers/1920x1200/SpectralWavePaper01.png">1920x1200</a><br />
			</p>	
		</article>	

		<article class="article_photo">
			<figure class="inline_block"><img src="images/SpectralWavePapers/apercus/SpectralWavePaper02.png" alt="Fond 2"></figure>
			<p class="inline_block">
				<a href="images/SpectralWavePapers/800x600/SpectralWavePaper02.png">800x600</a><br />
				<a href="images/SpectralWavePapers/1024x768/SpectralWavePaper02.png">1024x768</a><br />
				<a href="images/SpectralWavePapers/1280x720/SpectralWavePaper02.png">1280x720</a><br />
				<a href="images/SpectralWavePapers/1280x960/SpectralWavePaper02.png">1280x960</a><br />
				<a href="images/SpectralWavePapers/1280x1024/SpectralWavePaper02.png">1280x1024</a><br />
				<a href="images/SpectralWavePapers/1600x1200/SpectralWavePaper02.png">1600x1200</a><br />
				<a href="images/SpectralWavePapers/1680x1050/SpectralWavePaper02.png">1680x1050</a><br />
				<a href="images/SpectralWavePapers/1920x1080/SpectralWavePaper02.png">1920x1080</a><br />
				<a href="images/SpectralWavePapers/1920x1200/SpectralWavePaper02.png">1920x1200</a><br />
			</p>
		</article>
		
		<article class="article_photo">
			<figure class="inline_block"><img src="images/SpectralWavePapers/apercus/SpectralWavePaper03.png" alt="Fond 3"></figure>
			<p class="inline_block">
				<a href="images/SpectralWavePapers/800x600/SpectralWavePaper03.png">800x600</a><br />
				<a href="images/SpectralWavePapers/1024x768/SpectralWavePaper03.png">1024x768</a><br />
				<a href="images/SpectralWavePapers/1280x720/SpectralWavePaper03.png">1280x720</a><br />
				<a href="images/SpectralWavePapers/1280x960/SpectralWavePaper03.png">1280x960</a><br />
				<a href="images/SpectralWavePapers/1280x1024/SpectralWavePaper03.png">1280x1024</a><br />
				<a href="images/SpectralWavePapers/1600x1200/SpectralWavePaper03.png">1600x1200</a><br />
				<a href="images/SpectralWavePapers/1680x1050/SpectralWavePaper03.png">1680x1050</a><br />
				<a href="images/SpectralWavePapers/1920x1080/SpectralWavePaper03.png">1920x1080</a><br />
				<a href="images/SpectralWavePapers/1920x1200/SpectralWavePaper03.png">1920x1200</a><br />
			</p>				
		</article> -->
</section>