<section>
	<article>
		<header class="page-header">
			<h2>Version 1.5</h2>
			<em>XXXXXXX 2013</em>
		</header>
		<p>
			
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.4</h2>
			<em>30 d&eacute;cembre 2012</em>
		</header>
		<p>
			+ Création d'un compte<br />
			+ Connexion<br />
			+ Doit être connecté pour poster un commentaire<br />
			+ BB-Code dans les commentaires, les events et les news<br />
			* Modification de la taille de quelques &eacute;l&eacute;ments
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.3</h2>
			<em>30 septembre 2012</em>
		</header>
		<p>
			+ Possibilit&eacute; de faire un retour dans un commentaire<br />
			+ Modification (Editer) des events et des news<br />
			* Bug d'affichage pour un event sans date<br />
			* Bug du lien de retour &agrave; la liste des events<br />
			* Le texte est un peu plus blanc
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.2.1</h2>
			<em>4 septembre 2012</em>
		</header>
		<p>
			- SpectralWave texture pack retiré pour mise à jour minecraft 1.3.2<br />
			* Bug d'affichage dans les commentaires<br />
			* Plus besoin de se reconnecter sur chaque page
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.2</h2>
			<em>3 septembre 2012</em>
		</header>
		<p>
			+ Nouvelles dimensions pour le Minecraft Map Viewer<br />
			+ Date et cat&eacute;gories pour les news<br />
			+ Page de liste des news<br />
			+ Page de liste des events<br />
			+ Page de vue d&eacute;taill&eacute;e pour les news et les events<br />
			+ Commentaires pour les news et les events<br />
			+ Page des versions<br />
			+ Page des serveurs<br />
			+ Nouvelle mise en page des news<br />
			* Meilleure aide pour la cr&eacute;ation html de news
			
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.1</h2>
			<em>15 ao&ucirc;t 2012</em>
		</header>
		<p>
			+ Page viewers<br />
			+ Twitter<br />
			+ Youtube<br />
			+ Page des r&egrave;glements<br />
			+ Cat&eacute;gories d'events
		</p>
	</article>

	<article>
		<header class="page-header">
			<h2>Version 1.0</h2>
			<em>1er ao&ucirc;t 2012</em>
		</header>
		<p>
			+ Lancement du site<br />
			+ Page d'accueil<br />
			+ M&eacute;dias (T&eacute;l&eacute;chargements, Forum, Facebook)<br />
			+ Charte graphique
		</p>
	</article>
	
</section>