<section class="section" ng-controller="LiteralCtrl" ng-init="init('mapviewer')">
	<article>
		<div class="page-header">
			<h1>SpectralWave map viewer <a ng-show="admin" href="#literalsPopUp" data-toggle="modal"><i class="icon-edit icon-white editLiteral" literal="mapviewer"></i></a></h1>
		</div>
		<div class="viewer" width="97%">
			<iframe src="{{value}}" width="97%" height="850">
				<p>Votre navigateur ne supporte pas l'integration de Mapviewer sur le site.</p>
			</iframe> 
		</div>
	</article>
</section>
<section ng-controller="LiteralCtrl" ng-init="init('mumbleviewer')">
	<article>
		<div class="page-header">	
			<h1>Mumble viewer <a ng-show="admin" href="#literalsPopUp" data-toggle="modal"><i class="icon-edit icon-white editLiteral" literal="mumbleviewer"></i></a></h1>
		</div>
		<div class="viewer" width="250">
			<iframe src="{{value}}" scrolling="vertical" frameborder="0" height="390" width="250">
				<p>Votre navigateur ne supporte pas l'integration de Mumbleviewer sur le site.</p>
			</iframe>
		</div>
	</article>
</section>

<div ng-include src="'partials/popup/literalPopUp.html'"></div>