<section class="section">
	<article>
		<div class="page-header">
			<h1>SpectralWave map viewer</h1>
		</div>
		<div class="viewer" width="97%">
			<!-- <iframe src="http://77.111.203.227:25570/#" width="97%" height="850">
				<p>Votre navigateur ne supporte pas l'integration de Mapviewer sur le site.</p>
			</iframe> -->
			<p class="well well-dark">Le map viewer n'est pas diponible pour le moment.</p>
		</div>
	</article>
</section>
<section>
	<article>
		<div class="page-header">	
			<h1>Mumble viewer</h1>
		</div>
		<div class="viewer" width="250">
			<iframe src="http://viewer.mumblegratuit.com/mumbleviewer.php?id=22564&width=250&height=390&font_size=11&font=Tahoma&color=FFF&background=000" scrolling="vertical" frameborder="0" height="390" width="250">
				<p>Votre navigateur ne supporte pas l'integration de Mumbleviewer sur le site.</p>
			</iframe>
		</div>
	</article>
</section>